@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

h1 {
  margin-top: 50px; }

.tituloDeLaPagina {
  margin-left: 10px; }

.subtituloDelInicio {
  text-align: center;
  width: 100%;
  height: 5vh; }

.terceraSeccion {
  margin-top: 10px; }

.centrados {
  text-align: center;
  font-weight: bolder; }

.letrasactividad {
  font-size: 12px; }

/* Inicio de sesión */
.marco {
  width: 50vh;
  height: 50vh;
  margin-left: 500px;
  margin-top: 25px; }

.h1-inicioses {
  font-size: 22px;
  color: black; }

/* Registrarse */
.parte-comunidad {
  margin-left: 50px;
  font-size: 23px; }

.registro-fieldset {
  width: 90%;
  margin-left: 20px;
  padding: 10px; }

.articleFlex div {
  margin: 5px;
  justify-content: space-between; }

.letrasactividad {
  font-size: 18px; }

/* Inicio de sesión */
.fieldsetInicio {
  margin-top: 100px;
  margin-bottom: 100px; }

/* Series */
.mainSeries {
  margin-left: 10px; }

#h2series {
  font-weight: bold; }

.sugerenciaSeries {
  margin-bottom: 15px; }

.fotosSugerencias {
  margin-top: 10px; }

#ulactividad {
  margin-left: 15px; }

/* Flexbox */
.menu-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right; }

.section-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.article-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer-flex {
  display: flex;
  flex-direction: row; }

.actividad-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 85px; }

.tablaFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px; }

.medidasTabla {
  height: 120px;
  width: 900px; }

.registro-flex {
  display: flex;
  margin-bottom: 10px;
  margin-left: 60px; }

.articleFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.asideFlex {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 60px; }

.series-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.recomendacion-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px; }

/* Footer */
footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 100px; }

@keyframes series_fondo {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 2; } }

body {
  background-color: #f1f0f5;
  font-family: 'Syne', sans-serif; }

header {
  background-color: #e1d1f0; }

h1 {
  color: #7155cf;
  text-decoration: dotted; }

h2 {
  color: #a089fa; }

h3 {
  color: rebeccapurple; }

li {
  list-style-type: none; }

/* Clases */
.subtituloDelInicio {
  font-weight: bold;
  margin-bottom: 25px; }

/* Noticias */
.cajaNoticias {
  margin-left: 10px; }

/* Newsletter */
#news_letter {
  padding-bottom: 30px;
  padding-top: 10px; }

#news_letter .news_letter_form {
  width: 100%; }

#news_letter .form-control {
  height: 3rem; }

#news_letter .btn:hover {
  background-color: #d9e2e9;
  color: rgba(175, 87, 187, 0.883); }

#news_letter .contenedor-newsletter {
  background-color: rgba(230, 189, 189, 0.534); }

#news_letter .contenedor-newsletter .texto-copy {
  color: #a064ac; }

#news_letter .contenedor-newsletter .btn {
  background-color: #9b5ab9;
  border-color: #193140;
  border: 3px;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  font-size: 1.2rem; }

#news_letter .contenedor-newsletter .btn:hover {
  background-color: #74537c;
  color: white; }

/* Navegador/Menú */
.menu-flex a {
  text-decoration: none;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #11181d;
  font-size: 20px;
  margin-bottom: 15px; }

.section-flex div {
  text-align: center; }

/* actividad */
/* Tabla */
.titulo {
  color: #6a5096;
  text-decoration: underline;
  line-height: inherit; }

/* Series */
.genero {
  color: #a484c2; }

.sugerenciaSeries {
  background-color: #a795b1; }

/* BEM */
/* Bloque */
.tabla {
  border-color: #813357; }

/* Elemento */
.tabla__varios {
  font-size: 14px;
  color: #2f2c38; }

/* Modificador */
.tabla__varios--principal {
  font-size: 16px;
  color: #813357; }

/* Redes sociales de la página */
/* Extend */
.redSocial,
.redSocial--ig,
.redSocial--tw,
.redSocial--spot {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 5px; }

.redSocial--ig {
  border-color: #dc7ec1;
  background: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%); }

.redSocial--tw {
  border-color: #009de8;
  background-color: #009de8; }

.redSocial--spot {
  border-color: #3D9970;
  background-color: #3D9970; }

/* BEM */
/* Bloque */
.tabla {
  border-color: #813357; }

/* Elemento */
.tabla__varios {
  font-size: 14px;
  color: #2f2c38; }

/* Modificador */
.tabla__varios--principal {
  font-size: 16px;
  color: #813357; }

/* Fondo fieldset inicio de sesión */
.marco {
  background: linear-gradient(90deg, #c28fa5 0%, rgba(142, 95, 168, 0.361765) 100%); }

.iniciador {
  background-image: url(https://sigueenserie.files.wordpress.com/2015/09/tv-series.jpg);
  background-size: 500px;
  text-align: center;
  animation-name: series_fondo;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s; }

/* Registro */
.parte-comunidad {
  color: #8f56bc; }

.registro-flex aside {
  justify-content: left; }

#uno {
  background-color: #dca4fc; }

#h1-actividad {
  margin-top: 60px;
  margin-left: 5px;
  color: #a478bf; }

#h2-actividad {
  text-align: center;
  text-decoration: underline;
  font-size: 24px; }
